
.container{
    width: 400px;
    height: 600px;
    background-color: rgb(11, 65, 112);
    margin-left: 50px;
    padding: 20px;
}

.content{
    padding-top: 100px;
}

header ul{
    display: flex;
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    border-radius: 30px;
    background-color: black;
}



li a{
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 10px 70px;
}

footer{
    text-align: center;
}

#link{
    color: blueviolet;
    font-size: 30px;
}
